{% extends 'layout.html' %} {% block title %} Students {% endblock %} {% block
main %}
<div>
  <h1>Students Page</h1>

  <!-- 
  {% if (12>0) %}
    <h1>Condition is true</h1>
  {% else %}
    <h1>Condition is Flase</h1>
  {% endif %} -->

  <!-- <table>
  {% for student in students %}
    {% if (student.age>44) %}
      <tr>
        <td>{{student.id}}</td>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.age}}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table> -->

  <!-- <table>
  {% for student in students %}
      <tr>
        <td>{{student.id}}</td>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.age}}</td>
        <td>
          {% if student.age>35 %} 
            <span>Can Vote </span>
          {% else %} 
           <span style="color:red"> Can Not Vote </span>
          {% endif %}
        </td>
      </tr>
  {% endfor %}
</table> -->
  {% filter lower %}
  <table>
    {% for student in students %}
    <tr>
      <td>{{student.id}}</td>
      <td>{{student.first_name|upper }}</td>
      <td>{{student.last_name|lower}}</td>
      <td>{{student.email}}</td>
      <td>{{student.age}}</td>
      <td>
        <button {% if student.age<40 %} disabled {% endif %}>Vote</button>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endfilter %}
</div>
{% endblock %}
