{% extends '../layout/base.html' %}

<!-- title block  -->
{% block title %} New Meetup {% endblock %}

<!-- style block -->
{% block style %}
<!-- <link rel="stylesheet" href="/css/meetup/form.css" /> -->
{% endblock %}

<!-- main block started -->
{% block main%}

<div>
  <div class="col-lg-6 mx-auto shadow p-4 rounded">
    <h1>Meetup Form</h1>
    <hr />

    <!-- Success Messafge  -->
    {% if message %}
    <div class="message">{{message}}</div>
    {%endif%}

    <!-- Error Message  -->
    {% if error %}
    <div class="error">{{error}}</div>
    {%endif%}

    <form action="" method="post">
      <div class="mt-3">
        <label class="form-label" for="">Title</label>
        <input class="form-control" name="title" type="text" />
      </div>

      <div class="mt-3">
        <label class="form-label" for="">Description</label>
        <textarea
          class="form-control"
          name="description"
          id=""
          cols="30"
          rows="5"
        ></textarea>
      </div>

      <div class="mt-3">
        <label class="form-label" for="">Location</label>
        <input class="form-control" name="location" type="text" />
      </div>
      <div class="mt-3">
        <label class="form-label" for="">Date</label>
        <input class="form-control" name="date" type="date" />
      </div>
      <div class="mt-3">
        <label class="form-label" for="">Image</label>
        <input class="form-control" name="image" type="text" />
      </div>

      <div class="mt-3">
        <button class="btn btn-dark" type="submit">Create Meetup</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
